
<%- include("partials/header.ejs") %>
<% const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; 
   const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];%>
<% if (locals.displayDate && locals.addedDayTasks) { %>    
  <table>
    <tr>
      <th colspan="2"><h1><%= displayDate %></h1></th>
    </tr>  
    <% for (var i = 0; i < addedDayTasks.length; i++) { %>
      <tr rowspan="2"> 
        <td style="width: 500px;">
          <input type="checkbox" id="<%= 'checkbox_today_' + i %>" name="<%= addedDayTasks[i].day_task_id %>" class="task-day-checkbox">
          <label for="<%= 'checkbox_today_' + i %>"><%= addedDayTasks[i].day_task %></label> <br><div class="date_time"> &nbsp; &nbsp; &nbsp;<%= addedDayTasks[i].day_task_date %> <%= addedDayTasks[i].day_task_time %></div>
        </td>    
      </tr> 
    <% } %>
    <tr>
      <div class="AddnewTaskContainer">
        <form action="/new-day-task" method="post">
          <td class="AddTask">
            <input id="NewDayTask" name="NewDayTask" placeholder="Add new day task" cols="300" rows="2">
            <input type="datetime-local" id="TaskTime" name="TaskTime">
            <button type="submit" name="AddNewDayTask" class="addButton">+</button>
          </td>
        </form>
      </div>
    </tr>
  </table>
<% } %>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {
    $(".task-day-checkbox").on("change", function () {
      if ($(this).is(":checked")) {
        var checkBoxId = $(this).attr("id");
        var checkboxLabel = $("label[for='" + checkBoxId + "']").text();

        $.ajax({
          type: "POST",
          url: "http://localhost:3000/auth/google/today/delete-today-value",
          data: { day_task: checkboxLabel },
          success: function (response) {
          
          console.log("response is:");
          console.log(response);
            // Optionally, you can update the UI or perform additional actions after deletion.
          const totalTasks=response.addedDayTasks.length;
          console.log(totalTasks);
        
          window.location.href = "/auth/google/today";
            
          },
          error: function (error) {
            console.log("error is:");
            console.error(error);
          }
        });
      }
    });
  });
</script>

</body>
</html>